@use "global" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #333;
}

.heading {
    color: white;
    display: flex;
    align-items: center;

    // カスタムプロパティ（最初は何もない状態）
    --scaleX: 0;
}

.heading::before,
.heading::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    background-color: #fff;

    // カスタムプロパティを擬似要素に使う
    transform: scaleX(var(--scaleX));
}

.heading::before {
    margin-right: 10px;
    
    // 始まりを右から開始してほしいため記述
    transform-origin: right center;
}

.heading::after {
    margin-left: 10px;

    // 始まりを左から開始してほしいため記述
    transform-origin: left center;
}

